.show-header {
  background-color: whitesmoke;
  text-align: center;
  padding: 30px 0;
  font-size: x-large;
  font-weight: bold;
}
.blog-show, .item-show {
  background-color: whitesmoke;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  /* padding: 5vh 0; */
}
.show-box, .item-box {
  background-color: white;
  width: 70vw;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 10vw;
}
.show-img {
  width: 50vw;
}
.sold-out, .item-price-box {
  margin-top: 10px;
  font-size: 3vh;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-price {
  font-size: 3vh;
}
.item-postage {
  color: #000;
}
.show-btn {
  display: flex;
  justify-content: space-around;
  width: 50vw;
  text-align: center;
  
}
.edit-btn {
  color: #000;
}
.destroy-btn {
  color: #000;
}
.item-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  padding: 1vh 5vw;
}
.item-text {
  font-size: 2.8vh;
  margin-top: 10vh;
}

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}
.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}
.message-user {
  font-size: small;
  
}

.blog-comment-content {
  margin: 50px 150px;
  text-align: center;

}
